@import 'base/variables';
@import 'base/mixins';
@import 'base/placeholders';

html, body { width: 100%; height: 100%; background: $lightbg; color: $lightgray;}
article {margin-bottom: 50px;}
a {
  &:hover, &:focus { text-decoration: none; @include animate(color, 0.3s); }
}
.title { color: $title-color; font-family: 'Permanent Marker', cursive; font-size: 3.5em; }
.description { color: $primary-color; font-family: 'Lato', sans-serif; }
.header-container { position: relative; display: block; width: 100%; max-width: 100%; height: 350px;
  background-repeat: no-repeat; background-attachment: fixed; background-position: center center; background-size: cover;
}

.table { display: table; width: 100%; height: 100%;
  .table-cell { display: table-cell; width: 100%; height: 100%; vertical-align: middle; }
}

.nav-container { position: absolute; right: 0; bottom: -1.5em; left: 0;
  .navbar-nazar { text-align: center; border: none; border-top: 1px solid rgba(white, 0.2); background-color: rgba(white, 0.1);
    ul { float: none;
      li { display: inline-block; float: none;
        &.active {
    			a { opacity: 1; background-color: transparent;
            &:hover { background-color: transparent;
              &:after { @include transform( translateY(2px) ); opacity: 0.9; left: 10px; right: 10px; }
            }
            &:after { @include transform(translateY(0)); opacity: 1; }
    			}
    		}
        &.open {
    			a { opacity: 1; background-color: transparent;
            &:hover { background-color: transparent;
              &:after { @include transform( translateY(2px) ); opacity: 0.9; left: 10px; right: 10px; }
            }
            &:after { @include transform(translateY(0)); opacity: 1; }
    			}

          & ul.dropdown-menu { display: block; }
    		}

        a, a:visited { text-transform: uppercase; color: white; opacity: 0.7; font-size: 1.3em; @include animate(opacity, 0.3s);
          &:active, &:hover { color: white; opacity: 1;
            &:after { opacity: 1; @include transform (translateY(0px)); }
          }
          &:after { content: ''; position: absolute; display: block; left: 15px; right: 15px; bottom: 12px; height: 2px; background: white; opacity: 0; @include animate(all, 0.3s); @include transform (translateY(10px)); }
        }

        &:hover {
          & ul.dropdown-menu { display: block; }
        }
        ul.dropdown-menu { border: 0; border-radius: 0; background: rgba(black, 0.75);
    			li { display: block;
    				a, a:visited {
    					&:hover, &:focus { background: rgba(black, 0.25); color: white;
                &:after { opacity: 0; }
              }
    				}
            &.active {
              background: rgba(black, 0.25);
              a:after { opacity: 0; }
            }
    			}
    		}
      }
    }
  }
}

h1 { font-size: 48px; font-weight: 200; color: $primary-color;
  a { color: $primary-color;
    &:hover, &:focus {
      color: darken($primary-color, 10%);
    }
  }
  &.entry-title { line-height: 1.2em; margin-bottom: 0;}
}
.entry-header { margin: 20px 0; }

.entry-meta { font-size: 15px; font-weight: 300;
  a, a:visited { font-weight: 500; color: darken($lightgray, 10%);
    &:hover, &:focus { color: darken($lightgray, 25%); }
  }
}

.featured-image-link { display:block; position: relative;
  &:hover, &:focus {
    .featured-image:after { content: '\f06e'; font-family: FontAwesome; color: darken($lightbg, 85%); font-size: 70px; text-align: center; line-height: 300px; background-color: rgba(black, 0); }
  }
}
.featured-image { display: block; height: 300px; position: relative; border-radius: 5px;
  background-repeat: no-repeat; background-position: center center; background-size: cover;
  &:after { content: ''; position: absolute; display: block; border-radius: 5px; top: 0; right: 0; bottom: 0; left: 0; background-color: rgba(black, 0.25);  box-shadow: inset 0 0 15px rgba(black, 0.5); @include animate(all, 0.3s); }

  &.image-format {
    height: 500px;
    * { position: relative; color: darken(white, 10%);
      a, a:visited { color: darken(white, 10%);
        &:hover, &:focus { color: white; }
      }
    }
    .entry-excerpt { position: absolute; left: 50%; bottom: 0; transform: translate(-50%, -50%); }
    .overlay { position: absolute; display: block; border-radius: 5px; top: 0; right: 0; bottom: 0; left: 0;
    background-color: rgba(black, 0.45);  box-shadow: inset 0 0 15px rgba(black, 0.5); @include animate(all, 0.3s); }
    &:after { content: none; }

    &:hover {
      .overlay { opacity: 0.4; }
    }
  }
}

.entry-excerpt { margin: 30px 0 16px;
  p { font-size: 16px; line-height: 1.5em; font-weight: 300; letter-spacing: 0.02em; }
}
.entry-footer { padding: 10px 5px; border-bottom: 2px solid lighten(lightgray, 5%); text-transform: uppercase;
	a { color: $lightgray; display: inline-block; font-size: 12px;
		&:hover, &:focus { color: darken($lightbg, 85%); }
	}
	.tag-list {
		.fa { margin-right: 10px; }
		a { padding: 0 4px; }
	}
	.comments-link {
		.fa { margin-left: 10px; }
	}
}


.btn-wrapper { margin-bottom: 30px; }
.btn-more { @include animate( all, 320ms ); text-transform: uppercase; font-size: 14px; font-weight: 300; color: $lightgray; padding: 8px 12px; border-radius: 0; border: 1px solid $lightgray; background-color: transparent;
	&:hover, &:focus { color: #ffffff; border-color: darken($lightbg, 85%); background-color: darken($lightbg, 85%); }
}

.load-more { font-size: 16px; font-weight: 300; line-height: 1.5em; margin-bottom: 20px; padding: 5px 0; opacity: 0; @include animate(all, 0.3s); }

.nazar-posts-container {
  article { @include animate(all, 500ms); @include transform(translateY(100px)); opacity: 0;
    &.reveal { @include transform(translateY(0)); opacity: 1; }
  }
}
